{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}

/* we told webpack to run babel everytime it sees our file */
/*We installed babel plugin which is allowed to access to cutting edge features
 "transform-class-properties, class property koldanasan a ni method */